@font-face {
    font-family: 'Oxanium';
    src: url('../fonts/Oxanium/Oxanium-Bold.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.theme_backgroung {
    background: #005b49;
}

.btn-primary {
    color: #fff;
    background-color: rgb(42 210 149) !important;
    border-color: transparent;
}

.btn-primary.active,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
    color: #fff;
    background-color: #008329 !important;
}

.typed-cursor {
    color: #000;
}

.green {
    color: #008329 !important;
}

.firozy {
    color: #000 !important;
}

.logo {
    font-family: "Aclonica", sans-serif;
    font-size: 1.5rem;
    line-height: 18px;
    text-transform: capitalize;
    text-shadow: 2px 2px 0px #2f3336;
}

footer {
    background: #00b190;
    color: white;
    margin-top: 100px;
}

footer a {
    color: #fff;
    font-size: 14px;
    transition-duration: 0.2s;
}

footer a:hover {
    color: #024a19;
    text-decoration: none;
}

.copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #ffffff;
}
#typed {
    font-size: 20px;
    font-family: system-ui;
}
.footer-middle {
    padding-top: 2em;
    color: white;
}

.mt-30 {
    margin-top: 30px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #00b190;
}

/* footer social icons */

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}

.social-network a.icoFacebook:hover {
    background-color: #008329;
}

.social-network a.icoLinkedin:hover {
    background-color: #008329;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
    color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
    color: #44bcdd;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
}

.social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.social-network a {
    background-color: #f9f9f9;
}

.headOne {
    text-transform: capitalize;
    font-size: 24px;
}


/* Services css start here */

.services .section-title {
    position: relative;
}

.services .section-title p {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 400;
}

.services .section-title h4 {
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
    position: relative;
    padding-bottom: 20px;
    display: inline-block;
}

.services .section-title h4:before {
    position: absolute;
    content: "";
    width: 80px;
    height: 2px;
    background-color: #d8d8d8;
    bottom: 0;
    left: 50%;
    margin-left: -40px;
}

.services .section-title h4:after {
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    background-color: #008329;
    left: 0;
    bottom: 0;
    left: 50%;
    margin-left: -25px;
}

.pt-100 {
    padding-top: 100px;
}

.pb-100 {
    padding-bottom: 100px;
}

.mb-100 {
    margin-bottom: 100px;
}

.services {
    background-color: #fbfbfb;
}

.services .single-service {
    position: relative;
    text-align: center;
    margin-bottom: 50px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding: 30px 20px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16);
}

.services .single-service:before {
    position: absolute;
    width: 0;
    height: 0;
    background-color: #008329;
    left: 0;
    top: 0;
    content: "";
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.services .single-service:after {
    position: absolute;
    width: 0;
    height: 0;
    background-color: #008329;
    right: 0;
    bottom: 0;
    content: "";
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.services .single-service:hover:after,
.services .single-service:hover:before {
    width: 50%;
    height: 2px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.services .single-service:hover {
    box-shadow: 1px 3px 10px 0 rgba(0, 0, 0, 0.1);
}

.services .single-service i.fa {
    font-size: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
    line-height: 60px;
    margin-bottom: 30px;
    border-radius: 50%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.services .single-service:hover i.fa {
    background-color: #008329;
    color: #fff;
    border-color: #008329;
    border-radius: 0;
}

.services .single-service h4 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.services .single-service p {
    font-size: 15px;
    line-height: 1.8;
}


/* What we do */

.what-we-do {
    background: #ffffff;
}

.what-we-do .card {
    padding: 1rem !important;
    border: none;
    margin-bottom: 1rem;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    transition: 0.5s all ease;
}

.what-we-do .card:hover {
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.what-we-do .card .card-block {
    padding-left: 50px;
    position: relative;
}

.what-we-do .card .card-block a {
    color: #008329 !important;
    font-weight: 700;
    text-decoration: none;
}

.what-we-do .card .card-block a i {
    display: none;
}

.what-we-do .card:hover .card-block a i {
    display: inline-block;
    font-weight: 700;
    color: #2ad295;
}

.what-we-do .card .card-block:before {
    font-family: FontAwesome;
    position: absolute;
    font-size: 39px;
    color: #008329;
    left: 0;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
}

.what-we-do .card .block-1:before {
    content: "\f0e7";
}

.what-we-do .card .block-2:before {
    content: "\f0eb";
}

.what-we-do .card .block-3:before {
    content: "\f00c";
}

.what-we-do .card .block-4:before {
    content: "\f209";
}

.what-we-do .card .block-5:before {
    content: "\f0a1";
}

.what-we-do .card .block-6:before {
    content: "\f218";
}

.what-we-do .card:hover .card-block:before {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    transition: 0.5s all ease;
    color: #2ad295;
}

.what-we-do .card-title {
    font-size: 24px;
}


/* contact page css */

.contact .section-title h4 {
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
    position: relative;
    padding-bottom: 20px;
    display: inline-block;
}

.contact .section-title h4:before {
    position: absolute;
    content: "";
    width: 80px;
    height: 2px;
    background-color: #d8d8d8;
    bottom: 0;
    left: 50%;
    margin-left: -40px;
}

.contact .section-title h4:after {
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    background-color: #008329;
    left: 0;
    bottom: 0;
    left: 50%;
    margin-left: -25px;
}


/* About us  */

.about .aboutus-section {
    padding: 90px 0;
}

.about .aboutus-title {
    font-size: 30px;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 39px;
    padding: 0 0 11px;
    position: relative;
    text-transform: uppercase;
    color: #000;
}

.about .aboutus-title::after {
    background: #008329 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 54px;
}

.about .aboutus-text {
    color: #606060;
    font-size: 13px;
    line-height: 22px;
    margin: 0 0 35px;
}

.about a:hover,
.about a:active {
    color: #008329;
    text-decoration: none;
    outline: 0;
}

.about .aboutus-more {
    border: 1px solid #008329;
    border-radius: 25px;
    color: #008329;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    padding: 7px 20px;
    text-transform: uppercase;
}

.about .clipart {
    float: left;
    position: relative;
    width: 10%;
    color: #008329;
}

.about .feature .feature-box .feature-content h4 {
    color: #0f0f0f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
}

.about .feature .feature-box .feature-content {
    float: left;
    padding-left: 10px;
    width: 80%;
}

.about .feature .feature-box .feature-content h4 {
    color: #0f0f0f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
}

.about .feature .feature-box .feature-content p {
    color: #606060;
    font-size: 13px;
    line-height: 22px;
}

.icon {
    color: #008329;
    padding: 0px;
    font-size: 40px;
    border: 1px solid #008329;
    border-radius: 100px;
    color: #008329;
    font-size: 28px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    width: 70px;
}

/* #Navigation
================================================== */

.start-header {
    opacity: 1;
    transform: translateY(0);
    padding: 20px 0;
    box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.start-header.scroll-on {
    box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    padding: 10px 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.start-header.scroll-on .navbar-brand img {
    height: 24px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navigation-wrap {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navbar {
    padding: 0;
}

.navbar-brand img {
    height: 28px;
    width: auto;
    display: block;
    filter: brightness(10%);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navbar-toggler {
    float: right;
    border: none;
    padding-right: 0;
}

.navbar-toggler:active,
.navbar-toggler:focus {
    outline: none;
}

.navbar-light .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    border-bottom: 1px solid #000;
    transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before {
    width: 24px;
    position: absolute;
    height: 1px;
    background-color: #000;
    top: 0;
    left: 0;
    content: '';
    z-index: 2;
    transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after {
    top: 8px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
}

.nav-link {
    color: #fff !important;
    font-weight: 500;
    transition: all 200ms linear;
}

.nav-item:hover .nav-link {
    color: #fff !important;
}

.nav-item.active .nav-link {
    color: #fff !important;
}

.nav-link {
    position: relative;
    padding: 5px 0 !important;
    display: inline-block;
}

.nav-item:after {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    background-color: #2ad295;
    opacity: 0;
    transition: all 200ms linear;
}

.nav-item:hover:after {
    bottom: 0;
    opacity: 1;
}

.nav-item.active:hover:after {
    opacity: 0;
}

.nav-item {
    position: relative;
    transition: all 200ms linear;
}

.nav-item .dropdown-menu {
    transform: translate3d(0, 10px, 0);
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    display: block;
    padding: 0;
    margin: 0;
    transition: all 200ms linear;
}

.nav-item.show .dropdown-menu {
    opacity: 1;
    visibility: visible;
    max-height: 999px;
    transform: translate3d(0, 0px, 0);
}

.dropdown-menu {
    padding: 10px !important;
    margin: 0;
    font-size: 13px;
    letter-spacing: 1px;
    color: #212121;
    background-color: #fcfaff;
    border: none;
    border-radius: 3px;
    box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    transition: all 200ms linear;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-item {
    padding: 3px 15px;
    color: #212121;
    border-radius: 2px;
    transition: all 200ms linear;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #fff;
    background-color: #2ad295;
}

/* #Media
================================================== */

@media (max-width: 767px) {
    .nav-item:after {
        display: none;
    }

    .nav-item::before {
        position: absolute;
        display: block;
        top: 15px;
        left: 0;
        width: 11px;
        height: 1px;
        content: "";
        border: none;
        background-color: #000;
        vertical-align: 0;
    }

    .dropdown-toggle::after {
        position: absolute;
        display: block;
        top: 10px;
        left: -23px;
        width: 1px;
        height: 11px;
        content: "";
        border: none;
        background-color: #000;
        vertical-align: 0;
        transition: all 200ms linear;
    }

    .dropdown-toggle[aria-expanded="true"]::after {
        transform: rotate(90deg);
        opacity: 0;
    }

    .dropdown-menu {
        padding: 0 !important;
        background-color: transparent;
        box-shadow: none;
        transition: all 200ms linear;
    }

    .dropdown-toggle[aria-expanded="true"]+.dropdown-menu {
        margin-top: 10px !important;
        margin-bottom: 20px !important;
    }

}